$primary:     #334FA4;
$primary-rgb: rgb(51,79,164);
$accent1:     #5333A7;
$accent2:     #238795;
$warn:        #f34235;

$black: #000;
$white: #fff;
$black-low-transparency:  rgba(0,0,0,0.7);
$black-high-transparency: rgba(0,0,0,0.3);
$white-low-transparency:  rgba(255,255,255,0.7);
$white-high-transparency: rgba(255,255,255,0.3);

$link:  $white;
$text:  $white;

// Maps
$section-light-bg: (
  bg-color: $white,
  txt-color: $black,
  primary: $primary,
  accent: $accent1
);
